/* Variables */
:root {
    --graph-padding: 1vh;
    --primary: #1c1c1c;
    --secondary: #111111;
    --accent: #ef553b;
    --white: #ffffff;
    --black: #000000;
}


/* Default html element styling */
html {
    background-color: var(--primary);
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a, p, h1, h2, h3, h4, h5 {
    color: var(--white);
}


/* General site layout */
.sidemenu { 
    border-radius: 10px;
    margin: 1vh 0.5vw;
    height: 98vh;
    width: 3vw;
    text-align: center;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
}

.main {
    width: 80vw;
    float: right;
    margin-right: 16vw;
}

.static-data {
    border-radius: 10px;
    margin: 1vh 0.5vw;
    height: 98vh;
    width: 15vw;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
}


/* Side menu styling */
.sidemenu > div {
    width: 3vw;
}

.sidemenu > div > div {
    margin: 10vh 0px 10vh 0px;
    color: var(--white);
}

.sidemenu > div > div :hover {
    color: var(--accent);
}


/* Main graph container organization */
html > * {
    border-style: none !important;
}

.main-container {
    background-color: var(--primary);
}

.main-container > div {
    padding: var(--graph-padding);
}

#symbol-treemap {
    padding-bottom: var(--graph-padding);
}

#line-graph {
    padding-top: var(--graph-padding);
}

.main-container > div > div > div > div > div > .main-svg,
.main-container > div> div > div > div > div > div > .main-svg {
    border-radius: 10px;
    box-shadow: rgba(239, 85, 59, 0.1) 0px 0px 5px;
}


/* Static Data container organization */
.static-data > div {
    margin: 1vw;
}

.static-data-container > div > div > div > div > div > .main-svg {
    border: 1.5px solid rgba(239, 85, 59, 0.1);
    border-radius: 10px;
}
