/* Variables */
:root {
    --graph-padding: 10px;

    --light-white: #f7f6fc;
    --white: #ffffff;
    --light-black: #dce0ea;
    --black: #000000;
}


/* Default html element styling */
html {
    background-color: var(--light-white);
}

body {
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}


/* General site styling */
.greeting {
    background-color: var(--light-white);
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding: var(--graph-padding);
    margin: 0px;
    padding-bottom: 0px;
}

.greeting-subtitle {
    background-color: var(--light-white);
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: var(--graph-padding);
    margin: 0px;
}


/* General site layout */
.sidemenu { 
    border-radius: 10px;
    margin: 0.5vh 0.5vw;
    height: 99vh;
    width: 3vw;
    text-align: center;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.main {
    width: 80vw;
    float: right;
    margin-right: 16vw;
}

.static-data {
    border-radius: 10px;
    margin: 0.5vh 0.5vw;
    height: 99vh;
    width: 15vw;
    position: fixed;
    right: 0;
    background-color: var(--white);
}


/* Side menu styling */
.sidemenu > div {
    background-color: var(--light-white);
    margin: 0px 5px 0px 5px;
    border-radius: 50px;
}

.sidemenu > div > svg {
    margin: 10px 0px 10px 0px;
    color: var(--black);
}

.sidemenu > div > svg :hover {
    color: var(--light-black);
}


/* Main graph container organization */
html > * {
    border-style: none !important;
}

.main-container {
    background-color: var(--light-white);
    display: grid;
    grid-template-areas:
        'graph1 graph1 graph1 graph2 graph2'
        'graph3 graph3 graph3 graph3 graph3';
}

.main-container > div {
    padding: var(--graph-padding);
}

.main-container > div > div > div > div > div > .main-svg {
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}

.graph1 { 
    grid-area: graph1; 
}

.graph2 { 
    grid-area: graph2; 
}

.graph3 { 
    grid-area: graph3; 
}


/* Static Data container organization */
.static-data > div {
    margin: 20px;
}

.static-data-container > div > div > div > div > div > .main-svg {
    border: 1.5px solid var(--light-black);
    border-radius: 10px;
}
