/* Variables */
:root {
    --graph-padding: 1vh;
    --border-radius: 5px;
    --primary: #030303;
    --secondary: #111111;
    --accent: #5A4D82;
    --white: #ffffff;
    --black: #000000;
    --grey: #757575;
}


/* Default html element styling */
html {
    background-color: var(--primary);
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

p, h1, h2, h3, h4, h5 {
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}


/* General site styling */
.select-clear {
    display: none;
}

.text-center {
    text-align: center;
}

.horizontal-align {
    display: flex;
}

.grey {
    color: var(--grey);
}

.white {
    color: var(--white);
}

.graph > div > div > div > div > .main-svg {
    border-radius: var(--border-radius);
}

.hidden {
    display: none !important;
}


/* Top Organization */
html > * {
    border-style: none !important;
}

.general-statistics{
    width: 30vw;
    height: 30vh;
    padding: 1vh 0.5vw;
}

.statistic-container {
    width: 15.75vw;
    height: 14.5vh;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic-title {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
}

.statistic-text {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    color: var(--black);
}

.time-statistic {
    margin: 0 0.25vw 0.5vh 0;
    background-color: #7AE5F8;
    background-image: linear-gradient(to bottom left, #7609EF, #7AE5F8);
}

.exchanges-statistic {
    margin: 0 0 0.5vh 0.25vw;
    background-color: #F36900;
    background-image: linear-gradient(to bottom left, #E9A400, #F36900);
}

.exchange-statistic {
    margin: 0.5vh 0.25vw 0 0;
    background-color: #636EFB;
    background-image: linear-gradient(to bottom left, #FF6692, #636EFB);
}

.search-statistic {
    margin: 0.5vh 0 0 0.25vw;
}


/* Input styling */
.Select-control, .is-open {
    width: 12vw;
    height: 32px;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    border: none;
}

.Select-placeholder, .Select-value, .Select-multi-value-wrapper {
    color: var(--grey);
}

.Select-value-label {
    position: relative;
    color: var(--grey) !important;
    font-weight: 400;
}

.Select-menu-outer {
    background-color: var(--secondary);
    color: var(--grey);
    font-weight: 400;
    border: none;
    width: 12vw;
    padding: none;
    margin: none;
}


/* Main graph styling */
.main-container {
    height: 60vh;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-toggle {
    width: 5vw;
}

.anomaly-container {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    width: 44vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 1vh 0;
}

.highest-delay-container {
    background-color: #00664B;
    border-radius: var(--border-radius);
    width: 22vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 1vh 0;
}


.lowest-delay-container {
    background-color: #B4260F;
    border-radius: var(--border-radius);
    width: 22vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 1vw 1vh 1vw;
}

.anomaly-text {
    background-image: linear-gradient(to bottom left, #B4260F, #FF4848);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0;
    font-size: 80px;
}

.main-statistic-title {
    margin: 0;
    font-size: 24px;
}

.delay-text {
    margin: 0;
    font-size: 80px;
}


/* Delay graph styling */
.anomaly-container-delay {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    width: 29vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 0 1vw;
}

.lowest-delay-container-delay {
    background-color: #B4260F;
    border-radius: var(--border-radius);
    width: 14vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 1vw 1vh 1vw;
}

.highest-delay-container-delay {
    background-color: #00664B;
    border-radius: var(--border-radius);
    width: 14vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0 1vh 0;
}

.delay-icon {
    fill: linear-gradient(to bottom left, #B4260F, #FF4848);
    margin-bottom: 3vh;
}


/* Fill Rate graph styling */
.anomaly-container-fill-rate {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    width: 29vw;
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 1.5vh 1vw;
}

.select-threshold-container {
    background-image: linear-gradient(to bottom left, #AB62FA, #0819EF);
    border-radius: var(--border-radius);
    width: 29vw;
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1vw;
}

.dash-input {
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: 40px;
    text-align: center;
    margin: 2vh 0;
}

.threshold-button {
    background-color: var(--secondary);
    padding: 5px 40px;
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 20px;
    text-align: center;
}

.current-threshold-container {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    width: 29vw;
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vh 0 0 1vw;
}

.threshold-text {
    background-image: linear-gradient(to bottom left, #B4260F, #FF4848);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0;
    font-size: 48px;
}


/* Chart menu styling */
.chevron-button {
    background-color: var(--primary);
    border: none;
}

.chart-menu-button {
    color: var(--white);
    background-color: var(--primary);
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin: 2vh 7vw 0 7vw;
}

.active-chart {
    background-image: linear-gradient(to bottom left, #85D829, #C6CAFD);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.selected-item {
    width: 0.5vw;
    height: 0.5vw;
    background-image: linear-gradient(to bottom left, #85D829, #C6CAFD);
    border-radius: 100px;
    margin: 0.5vh auto 0 auto;
}


/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/inter-v13-latin-100.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/inter-v13-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter-v13-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v13-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter-v13-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/inter-v13-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter-v13-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/inter-v13-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter-v13-latin-900.woff2') format('woff2');
}
